@import ("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  font-family: Montserrat, sans-serif;
}

/* styling header of the page */
header {
  margin-top: 30px;
  display: inline-block;
  align-self: center;
  font-weight: 600;
}

/* user information */
.my-info {
  display: grid;
}
.my-info > img {
  width: 101px;
  height: 101px;
  border-radius: 16px;
}
.my-info > img,
.name,
.address {
  display: inline-block;
  justify-self: center;
  margin-top: 12px;
}
.name {
  font-size: 14px;
  color: rgb(78, 81, 80);
}
.address {
  font-size: 10px;
  color: #a9a9a9;
}

/* user social inforamtion */
.social-info {
  display: flex;
  column-gap: 12px;
  margin-top: 20px;
}
.box {
  width: 78px;
  height: 53px;
  border-radius: 12px;
  background-color: rgb(229, 229, 229);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
}
.num {
  font-size: 12px;
  text-align: center;
  color: rgb(78, 81, 80);
}
.title {
  font-size: 12px;
  color: #bdbdbd;
}

/* styling gallery */
.gallery {
  margin: 40px auto 0;
  max-width: 95%;
  display: grid;
  gap: 12px;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
}
#p2 {
  grid-column: 2/4;
}
#p3 {
  grid-column: 1/3;
  grid-row: 2;
}
#p4 {
  grid-row: 2/4;
}
.image > a > img {
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}
/* .image:hover {
  transform: scale(1.3);
} */
.image > a {
  text-decoration: none;
}

/* style for large screen window */
@media screen and (min-width: 600px) {
  header {
    margin-top: 60px;
  }
  .my-info > img {
    width: 156px;
    height: 156px;
  }
  .my-info > img,
  .name,
  .address {
    margin-top: 16px;
  }
  .name {
    font-size: 24px;
  }
  .address {
    font-size: 14px;
  }
  .social-info {
    margin-top: 30px;
  }
  .box {
    width: 100px;
    height: 67px;
  }
  .num,
  .title {
    font-size: 18px;
  }
}

@media screen and (min-width: 950px) {
  .gallery {
    max-width: 930px;
    margin-top: 40px;
  }
}
/* styling footer */
.footer {
  margin-top: 100px;
  margin-bottom: 10px;
  padding: 5px 0;
  width: 100%;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: #a9a9a9;
}
#creator {
  text-decoration: none;
  font-weight: 700;
  color: #a9a9a9;
}
#devIo {
  text-decoration: none;
  font-weight: 600;
  color: #a9a9a9;
}
#creator:hover,
#devIo:hover {
  cursor: pointer;
}
